<div class="text-center contenido">
<p>{{config.config.formComponent.title}}</p>

<form [formGroup]="form">
  <input type="text" class="form-control" [ngClass]="{'error-validation': sub && f['user'].errors, 'success-validation':user.valid && (user.dirty || user.touched) }" formControlName="user">
  <button class="btn btn-success" (click)="validacion()">{{config.config.formComponent.btnAccept}}</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{config.config.formComponent.colId}}</th>
      <th scope="col">{{config.config.formComponent.colName}}</th>
      <th scope="col">{{config.config.formComponent.colEdit}}</th>
      <th scope="col">{{config.config.formComponent.colDelete}}</th>
    </tr>
  </thead>
  <tbody ***ngIf="users && users.length > 0">
    <tr *ngFor="let item of users">
      <th scope="row">{{item.id | slice: 0 : 10}}...</th>
      <td>{{item.user}}</td>
      <td><button class="btn btn-primary" (click)="edit(item)"> {{getConfigFC().config.formComponent.btnEdit}} </button></td>
      <td><button class="btn btn-danger" (click)="delete(item.id)"> {{getConfigFC().config.formComponent.btnDelete}} </button></td>
      <td><button class="btn" (click)="disEnable(item)" [ngClass]="{'btn-success': item.status == true ,
        'btn-light': item.status == false }"> {{config.config.formComponent.btnActivate}} </button></td>
    </tr>
  </tbody>
</table>


</div>


